.categories {
    /* flex: 1; */
}

.categories h3  {
    margin: 1rem 2rem;
    /* color: var(--accent-color); */
    font-size: 1.5rem;
}

.categories ul {
    display: flex;

    list-style-type: "🍲 ";
    list-style-type: none;
    gap: .5rem;
    padding: 0;
    
    line-height: 2rem;
    font-size: 1.1rem;
    /* color: var(--accent-color); */

    cursor: pointer;
}

.categories ul li   {
    padding: 0 .5rem;
}

.active {
    background-color: var(--secondary-color-light);
    border-radius: 15px;
}