.confirmWindow {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: calc(50vw - 104px);
  top: 35vh;
  z-index: 10;
  min-width: 13rem;
  min-height: 7rem;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--accent-color);
}

.confirmWindow:focus {
  outline: none;
}

.confirmWindow h4 {
  flex: 1;

  padding: 0.2rem;

  border: 1px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  background-color: var(--secondary-color-light);
}

.confirmWindow .confirmMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  flex: 20;
  padding: 0 0.6rem;

  background-color: var(--bg-color);
}

.confirmMessage .buttons {
  display: flex;
  gap: 1rem;
}

.buttons button {
  padding: 0.4rem 0.6rem;

  border: none;
  border-radius: 5px;
  cursor: pointer;

  background-color: var(--secondary-color-light);
  /* transition: all ease-in-out 0.1s; */
}

.buttons button:last-of-type {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.buttons button:hover {
  box-shadow: 1px 1px 2px var(--accent-color);
}

.buttons button:active {
  outline: 1px groove var(--accent-color);
}

.buttons button:focus-visible {
  outline: 2px solid var(--accent-color);
}
