.content    {
    flex: 4;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    margin-top: 3rem;
}

.searchBar  {
    display: flex;
    gap: 0.2rem;
    height: 2.5rem;
}

.content input  {
    min-width: 20rem;
    border: 2px solid var(--accent-color);
    border-radius: 10px 0 0 10px;
    
    padding-left: .5rem;
}

.content input:focus-visible    {
    outline: none;
}

.content input:focus    {
    box-shadow: 0 0 1px 1px var(--accent-color);
}

.content button {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 0 10px 10px 0;

    padding-right: .5rem;
}

.content button:hover   {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.content button:active,
.content button:focus-visible  {
    box-shadow: 0 0 0 1px var(--accent-color);
    outline: none;
}