.content    {
    flex: 4;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    margin-top: 3rem;
}

.searchBar  {
    display: flex;
    gap: 1rem;
}

.content input  {
    width: 20rem;
}